html {
  height: 100%;
  width: 100%;
}
body{
  background-color:  #FA7F08;
  color: #9EF8EE;
  font-family: ;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #F24405;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #9EF8EE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
